:root{
    --stroke-width: 20px;
}


svg, html{
    background-color: black;
}

svg > *{
    stroke: white;
    stroke-width: var(--stroke-width);
}

path{
    fill: none;
}

.bound{
    stroke-width: calc(var(--stroke-width) * 2);
}

.accent{
    stroke: #39c5bb;
}
